<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="navigation">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">鸭鸭社区</span>
                    </button>
                    <a class="navbar-brand" href="/">鸭鸭社区</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索问题">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${session.user != null}"><a href="/publish">提问</a></li>
                        <li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=ce46b85af14a2d21447b&redirect_uri=http://localhost:8080/callback&scope=user&state=2">登录</a></li>
                        <li th:if="${session.user != null}" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span th:text="${session.user.name}"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/questions">消息中心</a></li>
                                <li><a href="#">个鸭资料</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div th:fragment="questionList">
        <div class="media" th:each="question : ${pagination.data}">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-rounded big-avatar" th:src="${question.user.avatarUrl}"/>
                </a>
            </div>
            <div class="media-body">
                <a th:href="@{'/question/' + ${question.id}}">
                <h4 class="media-heading" th:text="${question.title}"></h4>
                </a>
                <span class="text-desc">
                        <a class="question-tags" href="#" th:text="${question.tag}"></a> •
                        <span th:text="${question.user.name}"></span> 发表了文章 •
                        <span th:text="${question.commentCount}"></span> 个评论 •
                        <span th:text="${question.viewCount}"></span> 次浏览 •
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
            </div>
        </div>
    </div>

    <div th:fragment="pagination">
        <div class="comm-pagination">
            <nav aria-label="...">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="${section == null} ? @{./(page=1)} : @{'./'+${section}(page=1)}" aria-label="Previous"><span aria-hidden="true">&lt;&lt;</span></a>
                    </li>
                    <li th:if="${pagination.showPrevPage}">
                        <a th:href="${section == null} ? @{./(page=${pagination.currentPage-1})} : @{'./'+${section}(page=${pagination.currentPage-1})}" aria-label="Previous"><span aria-hidden="true">&lt;</span></a>
                    </li>

                    <li th:each="page : ${pagination.pages}" th:class="${pagination.currentPage == page}? 'active' : ''">
                        <a th:href="${section == null} ? @{./(page=${page})} : @{'./'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNextPage}">
                        <a th:href="${section == null} ? @{./(page=${pagination.currentPage+1})} : @{'./'+${section}(page=${pagination.currentPage+1})}" aria-label="Next"><span aria-hidden="true">&gt;</span></a>
                    </li>
                    <li th:if="${pagination.showLastPage}">
                        <a th:href="${section == null} ? @{./(page=${pagination.totalPages})} : @{'./'+${section}(page=${pagination.totalPages})}" aria-label="Next"><span aria-hidden="true">&gt;&gt;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</body>