body {
    background-color: #efefef;
}
.main {
    margin: 30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
/*头像大小*/
/*.media-object {*/
/*    width: 64px;*/
/*}*/
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    text-decoration-line: none;
}
.text-edit {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    text-decoration-line: none;
}
.text-edit:hover {
    text-decoration-line: none;
    color: #767373;
}
.text-color-999 {
    color: #999;
}
.question-title-hover {
    color: #155faa;
    cursor: pointer;
}
.question-title-hover:hover {
    color: #428bca;;
    text-decoration-line: none;
}
.question-list {
    padding: 10px 30px 20px 30px;
}
.question-tags {
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #999;
    text-decoration-line: none;
}
.question-tags:hover {
    text-decoration-line: none;
}
.comm-pagination {
    float: right;
    padding-right: 50px;
}
.profile .section {
    margin-top: 20px;
}
.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}
.question-content {
    white-space: pre-wrap;
}
.question-title {
    margin-top: 20px;
}
.question-block {
    padding: 10px 20px 20px 20px;
    border-right: 1px solid #e6e6e6;
}
.question-right {
    padding: 20px;
}
.question-related {
    line-height: 25px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.topic-tag {
    float: left;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}
.topic-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}
/*.topic-tag a {*/
/*    display: inline-block;*/
/*    height: 20px;*/
/*    line-height: 16px;*/
/*    padding: 2px 5px;*/
/*    background-color: #99cfff;*/
/*    font-size: 12px;*/
/*    color: #fff;*/
/*    border-radius: 4px;*/
/*}*/
/* 头像大小 */
.big-avatar {
    width: 64px;
}
.middle-avatar {
    width: 48px;
}
.small-avatar {
    width: 32px;
}
/* 超链接 */
.cursor-link {
    cursor: pointer;
}
.cursor-link:link {
    text-decoration:none;
}
.cursor-link:hover {
    color: #499ef3;
    text-decoration:none;
}
/* 颜色 */
.background-color-eee {
    background-color: #eee;
}
/* 内外边距 */
.com-margin-top {
    margin-top: 15px;
}

/* 标签 */
.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}
.no-padding {
    padding: 0;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
}

.comment-user {
    margin: 10px 0;
}
.comment-text {
    margin-bottom: 6px;
    line-height: 160%;
}
.comment-content {
    margin: 15px 0;
}
.comment-hr {
    margin: 15px 0;
    border: 0;
    border-top: 1px solid #eee;
}
.icon {
    margin-right: 3px;
}
.icon-num {
    margin-left: -3px;
}
.sub-comments {
    margin-top: 15px;
    padding: 25px 15px 15px 15px;
    border: 1px solid #a59999;
    border-radius: 5px;
}

/* 问题发布页面样式 */
.publish-tag-panel {
    padding: 0;
    margin-bottom: 15px;
    display: none;
}
.tag-panel .tab-content {
    margin-top: 10px;
}

.notify-text {
    font-size: 14px;
    font-weight: normal;
    color: #337ab7;;
    text-decoration-line: none;
}
.notify-text:hover {
    cursor: pointer;
    text-decoration-line: none;
}
.notify-time {
    display: block;
    margin-top: 10px
}

/* 文章目录 */
.toc-content {
    color: #ffffff;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    padding: 5px;
    text-align: center;
    width: 250px;
    right: 150px;
    top: 350px;
    border: 1px solid #e6e6e6;
    background: white;
}
.toggle-span:hover {
    cursor: pointer;
}