body {
    background-color: #efefef;
}
.main {
    margin: 30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.media-object {
    width: 64px;
}
.comm-pagination {
    float: right;
    padding-right: 50px;
}
.profile .section {
    margin-top: 20px;
}
.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}